CLOUDINARY_CLOUD_NAME=omg
CLOUDINARY_KEY=lol
CLOUDINARY_SECRET=yarite
COOKIE_SECRET="PLEASE CHANGE ME OH PLEASE CHANGE ME"
DATABASE_URL=mongodb://localhost:27017/sick-fits-keystone
STRIPE_SECRET="sk_test_nahhhh"
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER="lolplx"
MAIL_PASS="noway"
FRONTEND_URL="http://localhost:7777"
