body {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 2rem;
}
