node_modules
coverage
dist
reports
docs/public/assets/
examples/extend-graphql-schema-nexus/nexus-types.ts
examples/framework-remix/build/index.js
tests/test-projects/live-reloading/schemas/syntax-error.js
__generated__

