# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

x-job-setup: &job-setup
  docker:
    # specify the version you desire here
    - image: circleci/node:carbon-browsers
      environment:
        TEST_DATABASE_URL: postgresql://root@localhost/circle_test
        KNEX_URI: 'postgres://keystone5:k3yst0n3@localhost:5432/circle_test'
    - image: mongo:3.6.7
    - image: circleci/postgres:9.6.5-alpine-ram

  working_directory: /home/circleci/repo

# Download and cache dependencies
x-restore-cache: &restore-cache
  keys:
    - v12-dependencies-{{ checksum "yarn.lock" }}
      # fallback to using the latest cache if no exact match is found
    - v12-dependencies-

x-save-cache: &save-cache
  paths:
    - node_modules
  key: v12-dependencies-{{ checksum "yarn.lock" }}

x-integration-steps: &integration-steps
  steps:
    - checkout
    - attach_workspace:
        at: /home/circleci/repo
    - run:
        name: E2E Cypress tests
        command: CYPRESS_CACHE_FOLDER=$CIRCLE_WORKING_DIRECTORY/node_modules/cypress/.cache/ bolt ws run cypress:run:ci --only-fs $PROJECT_DIRECTORY
    - run:
        name: Prepare artifacts
        command: |
          mv "$PROJECT_DIRECTORY"/cypress/{videos,screenshots} /tmp || true
        when: always
    - run:
        name: Prepare reports
        command: |
          cd "$PROJECT_DIRECTORY"
          [ -d cypress/reports ] && `yarn bin`/junit-merge -d cypress/reports -C -o /tmp/reports/cypress/report.xml || true
        when: always
    - store_test_results:
        path: /tmp/reports
    - store_artifacts:
        path: /tmp/reports
    - store_artifacts:
        path: /tmp/videos
    - store_artifacts:
        path: /tmp/screenshots

jobs:
  install_dependencies:
    <<: *job-setup
    steps:
      - checkout
      - restore_cache: *restore-cache
      - run: sudo apt-get update
      - run: sudo apt-get install postgresql-client-9.6
      - run: psql -d $TEST_DATABASE_URL -c "CREATE SCHEMA keystone;"
      - run: psql -d $TEST_DATABASE_URL -c "CREATE USER keystone5 PASSWORD 'k3yst0n3';"
      - run: psql -d $TEST_DATABASE_URL -c "GRANT ALL ON SCHEMA keystone TO keystone5;"
      - run: sudo yarn global add bolt
      # Set Cypress cache dir here, in case this job runs/completes first, and
      # hence clobbers the `node_modules` cache with a non-cypress version,
      # causing the other job to fail with a "Missing Cypress" error.
      - run: CYPRESS_CACHE_FOLDER=$CIRCLE_WORKING_DIRECTORY/node_modules/cypress/.cache/ bolt
      - save_cache: *save-cache
      - persist_to_workspace:
          root: /home/circleci/repo
          paths:
            - node_modules

  simple_tests:
    <<: *job-setup
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/repo
      # run tests!
      - run: yarn lint:eslint --format junit -o reports/junit/js-lint-results.xml
      - run: yarn lint:prettier
      - run: yarn lint:flow
      - run: yarn lint:markdown
      - run:
          name: Unit tests
          command: yarn jest --ci --testResultsProcessor="jest-junit" --maxWorkers=1
          environment:
            JEST_JUNIT_OUTPUT: 'reports/junit/js-test-results.xml'
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit

  integration_tests_basic:
    environment:
      PROJECT_DIRECTORY: test-projects/basic
      CLOUDINARY_CLOUD_NAME: $CLOUDINARY_CLOUD_NAME
      CLOUDINARY_KEY: $CLOUDINARY_KEY
      CLOUDINARY_SECRET: $CLOUDINARY_SECRET
      PORT: 3000
    <<: *job-setup
    <<: *integration-steps

  integration_tests_login:
    environment:
      PROJECT_DIRECTORY: test-projects/login
      PORT: 3000
    <<: *job-setup
    <<: *integration-steps

  integration_tests_accesscontrol:
    environment:
      PROJECT_DIRECTORY: test-projects/access-control
      PROJECT_NAME: 'Cypress Test Project For Access Control'
      PORT: 3000
    <<: *job-setup
    <<: *integration-steps

  integration_tests_clientvalidation:
    environment:
      PROJECT_DIRECTORY: test-projects/client-validation
      PROJECT_NAME: 'Cypress Test Project For Client Validation'
      PORT: 3000
    <<: *job-setup
    <<: *integration-steps

  # integration_tests_twitterlogin:
  #   environment:
  #     PROJECT_DIRECTORY: test-projects/twitter-login
  #     PORT: 3000
  #   <<: *job-setup
  #   <<: *integration-steps

workflows:
  version: 2
  tests:
    jobs:
      # First we install dependencies
      - install_dependencies
      # Then we run all sorts of tests
      - simple_tests
          requires:
            - install_dependencies
      - integration_tests_basic
          requires:
            - install_dependencies
      - integration_tests_login
          requires:
            - install_dependencies
      # - integration_tests_twitterlogin
      #     requires:
      #       - install_dependencies
      - integration_tests_accesscontrol
          requires:
            - install_dependencies
      - integration_tests_clientvalidation
          requires:
            - install_dependencies
