extends layout.jade

block content
	+wrap(true)
		p.content-body-title Hi #{email},
		.content-body-summary
			p We have received your request to reset your password. Please follow the link below to reset your password.
			ul
				li
					a(href=+forgotPasswordUrl target="_blank") Reset Password
			p.last
				| 	If you didn’t ask for your password to be reset, you can safely ignore this email.