extends ../layouts/default

block content
  div.content
    h2 About
    p This blog was created in KeystoneJS, a fantastic open source framework for developing database-driven websites, applications and APIs in Node.js and GraphQL.

  section(style='margin: 48px 0')
    h2 Latest Posts
    if locals.posts.length
      each post in posts
        +post(post)
    else
      p No posts to display
