# Add these values to a `.env` file to enable Twitter auth
# FACEBOOK_APP_ID=abc123
# FACEBOOK_APP_SECRET=abc123
#
# CLOUDINARY_CLOUD_NAME=abc123
# CLOUDINARY_KEY=abc123
# CLOUDINARY_SECRET=abc123
#
# PORT=3000
# HOST_URL=http://localhost:3000
