.scrollable-list {
  --visible-elements: 8;
  max-height: calc((54px * var(--visible-elements)) + 1px);
  overflow-y: auto;
  margin-bottom: 1rem;
}

.relationship-list {
  border-collapse: collapse;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.relationship-list thead tr th {
  box-shadow: 0 2px 0 rgba(23, 43, 77, 0.1);
  box-sizing: border-box;
  color: #97a0af;
  cursor: auto;
  display: table-cell;
  font-size: 1.1rem;
  font-weight: normal;
  padding: 8px;
  padding-top: 1rem;
  text-align: left;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.relationship-list thead tr th .relationship-list__title {
  position: absolute;
  top: -20px;
  z-index: 2;
  height: 20px;
}

.relationship-list tbody tr td {
  box-shadow: 0 -1px 0 #ebecf0;
  box-sizing: border-box;
  max-width: 10rem;
  overflow: hidden;
  padding: 10px 8px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.relationship-list tbody tr:nth-of-type(even) {
  background: #fafbfc;
}

.relationship-list thead tr th:last-of-type,
.relationship-list tbody tr td:last-of-type,
.relationship-list thead tr th:nth-last-child(2),
.relationship-list tbody tr td:nth-last-child(2) {
  width: 48px;
}

.relationship-list .relationship-list__unavailable {
  color: #cacaca;
}

.empty-relationship {
  color: #97a0af;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.relationship-list__icon  {
  display: flex;
  justify-content: center;
}

.relationship-list .relationship-list__remove {
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relationship-list .relationship-list__remove path {
  fill: #6c798f;
}

.relationship-list .relationship-list__remove:hover path {
  fill: #d64242;
}

.relationship-list .relationship-list__inactive {
  width: 25px;
}

.relationship-list .relationship-list__inactive path {
  fill: #6c798f;
}

.relationship-list .relationship-list__active {
  width: 18px;
}

.relationship-list .relationship-list__active path {
  fill: #2684ff;
}
