html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  max-width: 70ch;
  padding: 2em 1em;
  margin: auto;
  line-height: 1.75;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

input {
  min-height: 2rem;
}

button {
  height: 2rem;
  min-width: 4rem;
}
