name: Publish

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@main
        with:
          persist-credentials: true # needed for git push

      - uses: ./.github/actions/ci-setup

      - run: pnpm build

      - name: git config
        run: |
          git config --global user.name 'Keystonejs Release Bot'
          git config --global user.email 'automation+keystonejs@thinkmill.com.au'

      - name: npm publish, git tag
        run: pnpm changeset publish --tag latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: git push origin --follow-tags
