name: Publish

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js LTS
        uses: actions/setup-node@master
        with:
          node-version: lts/*

      - name: Install Dependencies
        # we have a postinstall script that uses is-ci which doesn't yet detect GitHub Actions
        run: CI=true yarn

      - name: Publish to npm
        uses: changesets/action@v1
        with:
          version: yarn no-run-version-packages
          publish: yarn publish-changed
        env:
          # note that we're not using the GH token provided by Actions here because Actions has a rule that Actions
          # will not run as the result of another Action so CI wouldn't run on the release PRs then
          # we can get around it by using a personal access token from a GH account
          GITHUB_TOKEN: ${{ secrets.KEYSTONE_RELEASE_BOT_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
