name: Publish

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          persist-credentials: true # needed for git push

      - uses: ./.github/actions/ci-setup

      - run: yarn build

      - name: npm publish, git tag, git push
        uses: changesets/action@v1
        with:
          version: exit 1
          publish: yarn changeset publish
          createGithubReleases: false
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
