name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Setup Node.js 10.x
        uses: actions/setup-node@master
        with:
          node-version: 10.x

      - name: Install Yarn
        run: npm install --global Yarn

      - name: Install Dependencies
        # we have a postinstall script that uses is-ci which doesn't yet detect GitHub Actions
        run: CI=true yarn

      - name: Create Release Pull Request
        uses: changesets/action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
