# The names here intentionally align with the jobs in core_tests
# so that the required checks pass in GitHub when they're skipped

name: CI

on:
  pull_request:
    paths-ignore:
      - '**'
      - '!docs/**'
      - '!**/*.md'

concurrency:
  group: skip-core-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  graphql_api_tests_postgresql:
    name: API Tests PostgreSQL
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        index: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    steps:
      - name: Skipped tests
        run: echo "Skipped tests"

  graphql_api_tests_sqlite:
    name: API Tests SQLite
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        index: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    steps:
      - name: Skipped tests
        run: echo "Skipped tests"

  graphql_api_tests_mysql:
    name: API Tests MySQL
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        index: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    steps:
      - name: Skipped tests
        run: echo "Skipped tests"

  field_crud_tests_postgresql:
    name: Field CRUD Tests PostgreSQL
    runs-on: ubuntu-latest
    steps:
      - name: Skipped tests
        run: echo "Skipped tests"

  field_crud_tests_sqlite:
    name: Field CRUD Tests SQLite
    runs-on: ubuntu-latest
    steps:
      - name: Skipped tests
        run: echo "Skipped tests"

  field_crud_tests_mysql:
    name: Field CRUD Tests MySQL
    runs-on: ubuntu-latest
    steps:
      - name: Skipped tests
        run: echo "Skipped tests"

  examples_tests:
    name: Testing example project
    runs-on: ubuntu-latest
    steps:
      - name: Skipped tests
        run: echo "Skipped tests"

  examples_smoke_tests:
    name: Smoke Tests For Examples
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          [
            'auth.test.ts',
            'basic.test.ts',
            'blog.test.ts',
            'document-field.test.ts',
            'default-values.test.ts',
            'extend-graphql-schema.test.ts',
            'extend-graphql-schema-graphql-ts.test.ts',
            'extend-graphql-schema-nexus.test.ts',
            'json.test.ts',
            'rest-api.test.ts',
            'roles.test.ts',
            'task-manager.test.ts',
            'testing.test.ts',
            'with-auth.test.ts',
            'custom-field-view.test.ts',
            'custom-field.test.ts',
            'custom-admin-ui-pages.test.ts',
            'custom-admin-ui-logo.test.ts',
            'custom-admin-ui-navigation.test.ts',
          ]
      fail-fast: false
    steps:
      - name: Skipped tests
        run: echo "Skipped tests"

  admin_ui_integration_tests:
    name: Integration tests for Admin UI
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: 'file:./test.db'
    strategy:
      matrix:
        test:
          [
            'init.test.ts',
            'filters.test.ts',
            'list-view-crud.test.ts',
            'navigation.test.ts',
            'live-reloading.test.ts',
          ]
      fail-fast: false
    steps:
      - name: Skipped tests
        run: echo "Skipped tests"
